.main-bar
  .top-items
    .top-items__left-contents
      .top-items--group-name test
      .top-items--members members
    .top-items__right-content
      =link_to "#", class:"top-items__edit-btn" do
        Edit
  .contents
  .bottom-items