.main-bar
  .top-items
    .top-items__left-contents
      .top-items--group-name group
      .top-items--members members
    .top-items__right-content
      =link_to edit_group_path(current_user.groups), class:"top-items__edit-btn" do
        Edit
  .contents
    =render @messages
  .bottom-items
    =form_for [@group, @message] do |f|
      .message-box
        .message--input-box
          =f.text_field :content, class: "message--input-box__form", placeholder:"type a message"
        .message--input-box__file
          =f.label :image, class: "message--input-box__file" do
            = icon('fas', 'image',class:"icon")
            = f.file_field :image, class:"hidden"
        .message--submit-box
          =f.submit "Send", class: "message--submit__btn"