.side-bar
  .side-bar--header
    .side-bar--header--top-items
      .side-bar--header--top-items__name
        =current_user.name
      .side-bar--header--top-items__icons
        = link_to edit_user_path(current_user), class: "side-bar--header-icons" do
          = icon("fas fa-cog", class:"edit-profile--icon__right")
        = link_to new_group_path, class:"side-bar--header-icons" do
          = icon('far fa-edit', class:"make-group--icon__left")
  .side-bar--contents
    - current_user.groups.each do |group|
      .side-bar--contents--groups-list
        =link_to group_messages_path(group) do
          .groups__name
            =group.name
          .groups__message
            =group.show_last_message