* {
  box-sizing: border-box;
}

.wrapper{ 
  .side-bar{
    background-color: #253142;
    height: 100vh;
    width: 300px;
  }
  .main-bar{
    background-color: #ffffff;
    height: 100vh;
    width: calc(100vw - 300px);
  }
}